.sign-in-form {
  /*height: calc(100vh - 10%);*/
}

mat-card {
  /*color: azure;*/
  background-color: rgba(255, 255, 255, 0.69);
  max-width: 400px;
  border-radius: 4px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  max-height: 292px;
  overflow: hidden;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title {
  display: flex;
  justify-content: center;
  color: black;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}


.button {
  color: #000000;
  display: flex;
  justify-content: flex-end;
}
