<table class="tour-type-table" mat-table [dataSource]="countries">
  <ng-container matColumnDef="id">
    <th style="display: none;" mat-header-cell *matHeaderCellDef> No. </th>
    <td style="display: none;" mat-cell *matCellDef="let element"> <p>{{element?.id}}</p> </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><p> Name</p> </th>
    <td mat-cell *matCellDef="let element"><p class="name"> {{element?.name}}</p> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> <p>Description</p> </th>
    <td mat-cell *matCellDef="let element"> <p class="description">{{element?.description}}</p> </td>
  </ng-container>

  <ng-container matColumnDef="geography">
    <th mat-header-cell *matHeaderCellDef> <p>Geography</p> </th>
    <td mat-cell *matCellDef="let element"> <p class="description">{{element?.geography}}</p> </td>
  </ng-container>

  <ng-container matColumnDef="climate">
    <th mat-header-cell *matHeaderCellDef> <p>Climate</p> </th>
    <td mat-cell *matCellDef="let element"> <p class="description">{{element?.climate}}</p> </td>
  </ng-container>

  <ng-container matColumnDef="kitchen">
    <th mat-header-cell *matHeaderCellDef> <p>Kitchen</p> </th>
    <td mat-cell *matCellDef="let element"> <p class="description">{{element?.kitchen}}</p> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="imagePath">
    <th mat-header-cell *matHeaderCellDef> <p>Image</p> </th>
    <td mat-cell *matCellDef="let element"> <p><img class="country-image" [src]="element?.imagePath"></p> </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef><p>Update</p></th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" style="position: relative" (click)="openUpdateCountryDialog(element)"><mat-icon>update</mat-icon></button>
      <br>
      <br>
      <button mat-flat-button color="warn" style="position: relative" (click)="deleteCountry(element)"><mat-icon>clear</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

