<form [formGroup]="formGroup">
  <h2 mat-dialog-title>Додати новий готель </h2>
  <div mat-dialog-content class="add-hotel-form">
    <p>
      <mat-form-field>
        <mat-label>Назва</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="formGroup?.get('name').invalid">Назву не введено</mat-error>
        <mat-icon matSuffix>dns</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Адреса</mat-label>
        <textarea formControlName="address" matInput></textarea>
        <mat-error *ngIf="formGroup?.get('address').invalid">Адрес не введено</mat-error>
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Країна</mat-label>
        <mat-select formControlName="country" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup?.get('country').invalid">Країна не вибрана</mat-error>
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="addHotel()">Додати</button>
    <button mat-flat-button color="basic" (click)="onNoClick()">Скасувати</button>
  </div>
</form>
