<div class="content" role="main">
  <div class="home-block">
    <div class="info">
      <mat-grid-list cols="14" rowHeight="60px">
        <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
        <mat-grid-tile colspan="10" rowspan="4">
          <mat-list>
            <mat-list-item class="info-title"><p>Подорожуйте з комфортом - відпочивайте з нами!</p></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item class="info-description">Для нас Ваш комфорт і зручність стоять на першому місці. З нами
              Ваш
              відпочинок стане незабутнім!
            </mat-list-item>
            <mat-list-item></mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4"></mat-grid-tile>
        <!--      new line-->
        <mat-grid-tile colspan="14">
          <hr style="border-bottom: 1px solid rgba(255,255,255,.3); background: none; width: 80vw;">
        </mat-grid-tile>
        <!--      new line-->
        <mat-grid-tile colspan="1" rowspan="4"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
          <button mat-fab color="accent" routerLink="/search">
            <mat-icon>search</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="4">
          <mat-list>
            <mat-list-item class="info-item-title">Пошук турів</mat-list-item>
            <mat-list-item class="info-title-description">Скористайтеся зручною системою пошуку турів для вибору
              оптимального варіанту.
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
          <button mat-fab color="primary" routerLink="/tour-types">
            <mat-icon>wb_sunny</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="4">
          <mat-list>
            <mat-list-item class="info-item-title">Типи турів</mat-list-item>
            <mat-list-item class="info-title-description">Вибір найкращих турів за найкращими цінами.</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
          <button mat-fab color="warn" routerLink="/countries">
            <mat-icon>public</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="4">
          <mat-list>
            <mat-list-item class="info-item-title">Країни</mat-list-item>
            <mat-list-item class="info-title-description">Широкий спектр країн для подорожі в любій точці світу.
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4"></mat-grid-tile>
      </mat-grid-list>
      <br>
    </div>
  </div>
</div>
<br>
<br>
<br>
<!--          ABOUT US-->
<div class="about-us-column">
  <mat-grid-list cols="5" rowHeight="60px">
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="10">
      <mat-list>
        <mat-list-item class="info-item-title"><span style="text-align: center; font-size: 30px">Про нас</span></mat-list-item>
        <mat-list-item class="info-title-description">
          Зробіть перший крок до подорожі вашої мрії! На нашому сайті Ви знайдете великий вибір цікавих
          пропозицій, а наші фахівці допоможуть підібрати тур.
        </mat-list-item>
        <mat-list-item><hr style="border-bottom: 1px solid rgba(255,255,255,.3); background: none; width: 60vw;"></mat-list-item>
        <mat-list-item class="info-item-title">Наш сервіс - це надійний друг і вірний помічник</mat-list-item>
        <mat-list-item class="info-title-description">
          Наші менеджери завжди нагадають які сувеніри привезти з Чорногорії, як зібрати аптечку і що обов'язково
          покласти в валізу.
        </mat-list-item>
        <mat-list-item><hr style="border-bottom: 1px solid rgba(255,255,255,.3); background: none; width: 60vw;"></mat-list-item>
        <mat-list-item class="info-item-title">Двохфакторний контроль бронювання</mat-list-item>
        <mat-list-item class="info-title-description">
          За 12 годин до вильоту наші менеджери перевіряють актуальність часу вильоту як туди так і назад. За 24 години до вильоту ми зможемо забронювати для Вас максимально зручні місця на рейсі.
        </mat-list-item>
        <mat-list-item><hr style="border-bottom: 1px solid rgba(255,255,255,.3); background: none; width: 60vw;"></mat-list-item>
        <mat-list-item class="info-item-title">Захист від овербукинга</mat-list-item>
        <mat-list-item class="info-title-description">
          За тиждень до Вашого заїзду ми контактуємо безпосередньо з готелем - перевіряємо Ваше підтвердження і завдяки багаторічному досвіду роботи і впізнаваності бренду, тільки нашим туристам пропонують покращені номери.
        </mat-list-item>
        захист від овербукинга
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<br>
<br>
<!--  OUR CONTACTS-->
<div id="contacts" class="our-contacts">
  <mat-grid-list cols="11" rowHeight="60px">
    <mat-grid-tile class="our-contacts-name" colspan="11" rowspan="2">НАШІ КОНТАКТИ</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <mat-list>
        <mat-list-item class="info-item-title">Київ:</mat-list-item>
        <mat-list-item class="info-title-description">просп. Бажана 9-З, м.Вирлиця (вхід зі сторони метро)</mat-list-item>
        <mat-list-item style="font-weight: bold" class="info-title-description">068 711 88 11</mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <mat-list>
        <mat-list-item class="info-item-title">Київ:</mat-list-item>
        <mat-list-item class="info-title-description">просп. Бажана 9-З, м.Вирлиця (вхід зі сторони метро)</mat-list-item>
        <mat-list-item style="font-weight: bold" class="info-title-description">068 711 88 11</mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <mat-list>
        <mat-list-item class="info-item-title">Київ:</mat-list-item>
        <mat-list-item class="info-title-description">просп. Бажана 9-З, м.Вирлиця (вхід зі сторони метро)</mat-list-item>
        <mat-list-item style="font-weight: bold" class="info-title-description">068 711 88 11</mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </mat-grid-list>
</div>
