<!--<div class="toolbar" role="banner">-->
<!--  <div style="align-content: center">-->
<!--    <img width="40" class="travellab-ico" alt="Travellab" src="../../assets/travellab-ico.png"/>-->
<!--    <span class="travellab-name">Travellab</span>-->
<!--  </div>-->
<!--</div>-->
<mat-drawer-container autosize class="admin-menu-container">

  <mat-drawer #drawer class="admin-menu-sidenav" mode="over" position="end">
    <div class="admin-function-list">
      <mat-list>
        <mat-list-item>
          <button (click)="openAddTourTypeDialog()" color="primary" mat-flat-button>Додати тип туру</button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="openAddCountryDialog()" color="primary" mat-flat-button>Додати країну</button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="openAddHotelDialog()" color="primary" mat-flat-button>Додати готель</button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="openAddTourDataDialog()" color="primary" mat-flat-button>Додати дані туру</button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" mat-flat-button routerLink="/admin/all-tours">Список типів турів</button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" mat-flat-button routerLink="/admin/all-countries">Список країн</button>
        </mat-list-item>

        <mat-list-item>
          <button color="primary" mat-flat-button routerLink="/admin/all-hotels">Список готелів</button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" mat-flat-button routerLink="/admin/all-tours-detailed-data">Список турів</button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <div class="admin-menu">
    <mat-toolbar class="admin-header">
      <button aria-label="Example icon button with a home icon" color="primary" mat-mini-fab routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <div>
        <img alt="Travellab" class="travellab-ico" routerLink="/admin/all-tours" src="../../assets/travellab-ico.png"
             style="cursor: pointer" width="40" />
      </div>
      <span class="travellab-name" routerLink="/admin/all-tours" style="cursor: pointer">Travellab</span>
      <button (click)="drawer.toggle()" class="admin-menu-button" color="primary" mat-mini-fab type="button">
        <mat-icon color="primary">list</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-admin-body">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

