* {
  color: black !important;
}

.admin-menu {
  width: 100vw;
  height: 100vh;
}

.admin-menu-button {
  position: fixed;
  right: 1%;
  top: 1.5%;
}

.admin-function-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 15vw;
}

.admin-function-list button {
  margin-top: 5%;
}

.admin-menu-sidenav {
  height: 100vh;
  width: 15vw;
  background-color: lightgrey;
}

.main-admin-body {
  margin-top: 8vh;
}

.travellab-ico {
  padding-left: 5vw;
}

.travellab-name {
  font-family: Futura, sans-serif;
  font-size: 1.2em;
}

.admin-header {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
}


