.tour-types-body {
  margin-top: 5%;
}

.tour-card {
  color: azure;
  background-color: rgba(0, 0, 0, 0.65);
  max-width: 400px;
  border-radius: 4px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  max-height: 292px;
  overflow: hidden;
}

