<div class="toolbar" role="banner">
  <div>
    <img alt="Travellab" class="travellab-ico" routerLink="/" src="../../assets/travellab-ico.png" style="cursor: pointer"
         width="40" />
  </div>
  <span class="travellab-name" routerLink="/" style="cursor: pointer">Travellab</span>
  <a mat-button routerLink="/search-tours" style="margin-left: 60vw">Пошук турів</a>
  <a mat-button routerLink="/tour-types">Типи турів</a>
  <a mat-button routerLink="/countries">Країни</a>
  <a (click)="scrollToContacts()" mat-button>Контакти</a>
  <a *ngIf="!username" mat-button routerLink="/sign-in">Вхід</a>
  <a *ngIf="username" mat-button>{{ username }}</a>
</div>
<div class="main-body">
  <router-outlet></router-outlet>
  <div class="footer">
    <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile colspan="1"><span style="font-weight: bold; font-size: 24px; color: azure;">© 2025 Travellab</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

